* {
    box-sizing: content-box;
flex-wrap: wrap;
}

.titre-principal {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-family: lexend;
}
nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    font-family: poppins;
}
.navbar ul .contact-btn{
    color: #fff;
    padding: 5px 10px 10px;
}
.navbar a {

    text-decoration: none;
    color: #003045;
}

.head {
    background-image: url(../../../static/websitecore/img/case-study-images/dev2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    padding-bottom: 15px;
    font-family: lexend;
}

.contact-btn {
    background-color: #003045;
    color: white;
    border-radius: 10px;
    background-color: #003045;
    
}

.case-study-devise {
    text-align: center;
    margin-top: -20px;
}

.case-study-img {
    width: 50vw;
    height: px;
}

.case-study-img-plus-description {
    display: flex;
}

.description {
    width: 60%;
    line-height: 30px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 60px;
    font-family: poppins;
}

.btn-viewcase {
    background-color: #003045;
    color: #fff;
    padding: 10px 10px 20px;
    border-radius: 25px;
    background-image: linear-gradient(to left, #023E84, aqua);
    text-decoration: none;
}

.title {

    font-size: 40px;
    margin-left: 40px;
}

.bloc-contact-et-formulaire {
    display: flex;
    justify-content: space-around;
    background-color: darkcyan;
    padding: 50px 15px 40px;
    color: #fff;
    margin-top: 15px;
}

.formulaire {
    background-color: #fff;
    color: #003045;
    padding-top: 30px;
    width: 65%;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
}
.name {
    margin-left: 90px;
    width: 250px;
}
.num {
    margin-left: 85px;
    width: 250px;
}
.sms {
    margin-left: 58px;
    width: 250px;
}

.email {
    width: 250px;
    margin-left: 10px;
}

.mon-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: -200px;
}
.simplecontact {
    text-align: center;
    padding: 100px 15px 0px;
}
.simplecontact-sms {
    margin-top: -60px;
    margin-left: 50px;
}
.firstp {
    font-weight: 800;
    line-height: 1.5;
    font-size: 40px;
}
.secondp {
    font-size: 30px;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    border-bottom: solid 2px aqua;
}

section.navbarend {
    background-color: #003045;
    color: #fff;
}

div.foot {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.contain :hover {
    border-bottom: solid 2px aqua;
}
.blog :hover {
    border-bottom: solid 2px aqua;
}

div.icon :hover {
    border-bottom: solid 2px aqua;
}

.logow {
    
    margin-bottom: 30px;
    margin-left: 10px;
    height: 20px;
}

.icon {
    font-weight: 100px;
    margin-top: -20px;
}

.infos-localisation span {
    font-size: 15px;
}

.copyright {
    margin-left: 200px;
}

.bouton {
    width:100px;
    background-color: #003045;
    color: #fff;
}

/* les medias queries */

@media (max-width:320px) {
    .case-study-img-plus-description {
        flex-direction: column;
    }

    .case-study-img {
        width: 100%;
        margin-left: 20px;
        flex-shrink: 2;
    
    }

    .bloc-contact-et-formulaire {
        flex-direction: column;
    }

    .formulaire {
        width: 100%;
    }

    input {
        width: 100%;
    }

    .name {
        margin-left: 0px;
        width: 250px;
    }

    .num {
        margin-left: 0px;
        width: 250px;
    }

    .sms {
        margin-left: 0px;
        width: 250px;
    }

    nav ul {
        display: block;
    }

    .description {
        width: 100%;
        margin-left: 18px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-top: 00px;
    }

    div.foot {
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        text-align:left;
        margin-right: 10px;
        margin-left: 0px;
        width: 100%;
    }
}