* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.phone-img{
    display: none;
}

.navbar {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 200px;
    margin: 10px 20px;
    background: white;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    padding: 5px;
    font-size: 15px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    align-items: center;
}

.navbar ul li {
    color: #003045;
    font-family: 'Lexend', sans-serif;
}

.navbar img {
    margin-right: 200px;
    height: 50px;
    background-color: black;
}

.navbar ul button {
    margin-right: 15px;
}

#butt {
    background-color: #003045;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
}

.sub-navbar {
    background: rgba(254, 251, 251, 0.75);
    padding: 20px;
    width: 1223px;
    gap: 0;
    display: flex;
    display: none;
    border-radius: 0 0 10px 10px;
}

.trak-grid {
    display: grid;
    grid-template-columns: 100px 100px;
}

.navbar ul a li:hover+.sub-navbar {
    display: block;
    background: white;
    position: absolute;
    font-size: 9px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: -584px;
    margin-top: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.navbar ul a li:hover+.sub-navbar .trak-grid img {
    height: 70px;
}

.navbar ul a li:hover+.sub-navbar .trak-grid {
    gap: 20px;
}

.navbar ul a li:hover+.sub-navbar h4 {
    font-size: 16px;
}

.navbar ul a li:hover {
    text-decoration: underline;
}

.sub-navbar-2 {
    background: white;
    padding: 20px;
    width: 1223px;
    gap: 10px;
    display: grid;
    display: none;
    border-radius: 0 0 10px 10px;
    margin-top: 25px;
}

.trak-2-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.navbar ul a li:hover+.sub-navbar-2 {
    display: block;
    background: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    font-size: 9px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -816px;
}

.navbar ul a li:hover+.sub-navbar-2 .trak-2-grid img {
    height: 70px;
}

.navbar ul a li:hover+.sub-navbar-2 .trak-2-grid {
    gap: 20px;
}

.navbar ul a li:hover+.sub-navbar-2 h4 {
    font-size: 16px;
}

.navbar:hover {
    border-radius: 10px 10px 0 0;
    box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.3);
}

.tresor {
    background-image: url(../img/Front.jpg);
    background-repeat: no-repeat;
    padding: 10px 0;
    height: 1000px;
    background-size: cover;
}

.services h3 {
    padding-left: 200px;
    font-size: 56px;
    z-index: 1;
}

.service-content:hover {
    background: none;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 500px;
}

.column-content {
    background-color: rgba(0, 47, 255, 0.795);
    height: 100%;
    opacity: 0.9;
}

.column-content:hover {
    background: none;
}

.column p {
    font-size: 30px;
    margin-top: -1px;
}

.column p {
    padding-top: 400px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.column ul {
    display: none;
    width: 100%;
    animation: mymove 500ms;
}

.column:hover ul {
    display: block;
    position: absolute;
    color: white;
    font-size: 25px;
    line-height: 40px;
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow: hidden;
}

.column:hover {
    animation: mymove;
}

@keyframes mymove {
    0% {
        top: 1200px;
        position: relative;
    }

    5% {
        top: 1100px;
        position: absolute;
    }

    100% {
        top: 1000px;
        position: absolute;
    }
}

.column:hover p {
    display: none;
}

.about-us {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.about-content {
    padding: 123px 300px;
    background-color: white;
    opacity: 0.8;
}

.background-img {
    background-image: url(../img/Rectangle\ 10.png);
    height: 500PX;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.case-study h3 {
    padding-left: 200px;
    font-size: 56px;
    z-index: 1;
}

.study-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
}

.block h4 {
    padding-top: 410px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.block p {
    display: none;
    color: white;
    background: none;
}

.block:hover p {
    display: block;
    position: absolute;
    color: white;
    width: 355px;
    margin-left: 30px;
    margin-top: 340px;
    font-size: 20px;
    animation: moveup 300ms;
    font-family: 'Source Sans Pro', sans-serif;
}

@keyframes moveup {
    0% {
        top: 10000px;
        position: relative;
    }
    85%{
        top: 9000px; position: relative;
    }

    100% {
        top: 2000px;
        position: absolute;
    }
}

.block:hover h4 {
    display: none;
}
.block:hover{
    background: none;
}
.study-content{
    background-color: blue;
    opacity: 0.7;
    margin-top: -39px;
    height: 100%;
}
.study-content:hover{
    background: none;
}
footer {
    background: #003045;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
}

footer ul li {
    font-size: 16px;
}

footer ul h5 {
    font-size: 18px;
}


.footer-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer-buttom {
    display: flex;
    align-items: center;
    gap: 97px;
    padding: 20px;
}

.footer-buttom img {
    margin-left: 20px;
    height: 35PX;
}

.footer-buttom p {
    font-size: 10px;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h3 {
    color: white;
    position: absolute;
    font-family: 'Lexend', sans-serif;
}
@media screen and (max-width: 800px) {
    .service-grid, .study-grid{
        grid-template-columns: 1fr;
    }
    .case-study h3{
        margin-left: -160px;
        font-size: 50px;
    }
    .footer-top{
        grid-template-columns: 1fr 1fr;
    }
    .footer-buttom{
        flex-direction: column;
        margin-left: -50px;
        gap: 5px;
    }
    .services h3{
        margin-left: -150px;
    }
    .navbar{
        display: none;
    }
    .about-content p{
        font-size: 14px;
        margin-left: 10px;
        margin-right: -290px;
    }
    .about-us{
        margin-left: -300px;
        height: 100%;
    }
    .about-content img{
        margin-left: 160px;
    }
    .phone-img{
        display: block;
        position: absolute;
        background: white;
        border-radius: 40px;
        height: 140px;
        width: 100%;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    }
    .phone-img img{
        height: 100px;
        width: 140px;
        margin-left: 30px;
        margin-top: 15px;
    }
    .navbar ul a li:hover+.sub-navbar {
        display: block;
        background: white;
        position: absolute;
        font-size: 9px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: -582px;
        margin-top: 26px;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    }

    .navbar ul a li:hover+.sub-navbar .trak-grid img {
        height: 70px;
    }

    .navbar ul a li:hover+.sub-navbar .trak-grid {
        gap: 20px;
    }

    .navbar ul a li:hover+.sub-navbar h4 {
        font-size: 16px;
    }

    .navbar ul a li:hover {
        text-decoration: underline;
    }

    .sub-navbar-2 {
        background: white;
        padding: 20px;
        width: 1223px;
        gap: 10px;
        display: grid;
        display: none;
        border-radius: 0 0 10px 10px;
        margin-top: 26px;
    }

    .trak-2-grid {
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }

    .navbar ul a li:hover+.sub-navbar-2 {
        display: block;
        background: white;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
        position: absolute;
        font-size: 9px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: -817px;
    }

    .navbar ul a li:hover+.sub-navbar-2 .trak-2-grid img {
        height: 70px;
    }

    .navbar ul a li:hover+.sub-navbar-2 .trak-2-grid {
        gap: 20px;
    }

    .navbar ul a li:hover+.sub-navbar-2 h4 {
        font-size: 16px;
    }

    .navbar:hover {
        border-radius: 10px 10px 0 0;
        box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.3);
    }
    .column:hover ul {
        display: block;
        position: absolute;
        color: white;
        font-size: 25px;
        line-height: 40px;
        margin-top: 150px;
        font-family: 'Poppins', sans-serif;
        height: 100%;
        overflow: hidden;
    }

    .column:hover {
        animation: mymove;
    }

    @keyframes mymove {
        0% {
            top: 1200px;
            position: relative;
        }

        5% {
            top: 1100px;
            position: absolute;
        }

        100% {
            top: 1000px;
            position: absolute;
        }
    }

    .column:hover p {
        display: none;
    }
}
