<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NinjaSphere Mobile Development Services</title>
    <link rel="stylesheet" href="../styles/output-style.css" />
  </head>
  <body>
    <header class="bg-white drop-shadow-sm">
      <nav
        class="max-w-7xl mx-auto flex justify-between items-center px-6 py-8"
      >
        <a href="index.html">
          <div class="max-w-[260px] max-h-12">
            <img
              class="w-full h-full"
              src="assets/images/ninjaSphere-logo-dark.jpg"
              alt="ninjaSphere logo"
            />
          </div>
        </a>
        <ul
          class="flex gap-12 justify-end items-center font-sans text-gray-800"
        >
          <li>
            <a href="#" class="hover:opacity-100 focus:opacity-100 opacity-100"
              >Services</a
            >
          </li>
          <li>
            <a href="#" class="hover:opacity-100 focus:opacity-100 opacity-50"
              >Case Study</a
            >
          </li>
          <li>
            <a href="#" class="hover:opacity-100 focus:opacity-100 opacity-50"
              >Knowledge Hub</a
            >
          </li>
          <li>
            <a href="#" class="hover:opacity-100 focus:opacity-100 opacity-50"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="bg-slate-100">
      <section class="flex justify-between h-screen p-10 max-w-7xl mx-auto">
        <div class="max-w-3xl space-y-6 self-center">
          <h1 class="text-7xl font-display text-gray-900">
            Mobile Development Services
          </h1>
          <p class="font-sans text-base max-w-xl text-gray-700">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Maecenas
            ultricies mi eget mauris pharetra. Ornare suspendisse sed nisi lacus
            sed viverra tellus. Quam adipiscing vitae proin sagittis. Vitae
            ultricies leo integer malesuada nunc vel risus commodo viverra. Diam
            volutpat commodo sed egestas egestas.
          </p>
        </div>
        <img src="" alt="random image" />
        <!-- SVG enters here -->
      </section>
      <section class="bg-slate-50 shadow-inner">
        <!-- <div class="bg-slate-100">
          <div class="bg-topWaveSlice h-10 w-full text-slate-50"></div>
        </div> -->
        <div class="max-w-7xl mx-auto py-12">
          <ul class="font-poppins flex gap-4 text-gray-800 capitalize">
            <li>
              <a
                href="#ios-development"
                class="hover:opacity-100 focus:opacity-100 opacity-50 capitalize"
                >IOS App Development</a
              >
            </li>
            <li>
              <a
                href="#andriod-development"
                class="hover:opacity-100 focus:opacity-100 opacity-50 capitalize"
                >Andriod development</a
              >
            </li>
          </ul>
        </div>
        <!-- <div class="bg-slate-100">
          <div class="bg-bottomWaveSlice h-16 w-full text-slate-50"></div>
        </div> -->
      </section>
      <div class="max-w-7xl mx-auto pt-8">
        <section class="flex py-10" id="ios-development">
          <div class="basis-2/4 h-full">
            <h2 class="text-3xl text-gray-800 font-display mb-10 capitalize">
              <span class="uppercase">IOS</span> App Development
            </h2>
            <p class="text-gray-700 font-sans max-w-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Maecenas ultricies mi eget mauris pharetra. Ornare suspendisse sed
              nisi lacus sed viverra tellus. Quam adipiscing vitae proin
              sagittis. Vitae ultricies leo integer malesuada nunc vel risus
              commodo viverra. Diam volutpat commodo sed egestas egestas.
            </p>
          </div>
          <section class="basis-2/4 space-y-8">
            <div class="flex flex-col space-y-3">
              <h3 class="text-xl font-poppins text-gray-900">Deliverables</h3>
              <ul class="text-gray-700 font-sans list-disc pl-4">
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ul>
            </div>
            <div class="flex flex-col space-y-3">
              <h3 class="text-xl font-poppins text-gray-900">Tools</h3>
              <ul class="font-sans text-gray-700 flex flex-col list-disc pl-4">
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ul>
            </div>
          </section>
        </section>
        <section class="flex py-16" id="andriod-development">
          <div class="basis-2/4 h-full">
            <h2 class="text-3xl text-gray-800 font-display mb-10 capitalize">
              Andriod development
            </h2>
            <p class="text-gray-700 font-sans max-w-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Maecenas ultricies mi eget mauris pharetra. Ornare suspendisse sed
              nisi lacus sed viverra tellus. Quam adipiscing vitae proin
              sagittis. Vitae ultricies leo integer malesuada nunc vel risus
              commodo viverra. Diam volutpat commodo sed egestas egestas.
            </p>
          </div>
          <section class="basis-2/4 space-y-8">
            <div class="flex flex-col space-y-3">
              <h3 class="text-xl font-poppins text-gray-900">Deliverables</h3>
              <ul class="text-gray-700 font-sans list-disc pl-4">
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ul>
            </div>
            <div class="flex flex-col space-y-3">
              <h3 class="text-xl font-poppins text-gray-900" text-gray-800>
                Tools
              </h3>
              <ul
                class="font-sans text-gray-700 grid grid-cols-3 grid-rows-2 gap-y-1 list-disc pl-4 max-w-sm"
              >
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ul>
            </div>
          </section>
        </section>
      </div>
      <div class="bg-slate-50 py-20 shadow-inner">
        <section class="max-w-7xl mx-auto">
          <div class="max-w-2xl">
            <h2 class="text-3xl text-gray-800 font-display mb-10 capitalize">
              Contact
            </h2>
            <form class="flex flex-col space-y-8">
              <div class="flex flex-col space-y-2">
                <label for="name" class="text-gray-800 font-poppins text-lg">
                  Name
                </label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="border border-gray-300 rounded-md px-4 py-2"
                />
              </div>
              <div class="flex flex-col space-y-2">
                <label for="email" class="text-gray-800 font-poppins text-lg">
                  Email
                </label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="border border-gray-300 rounded-md px-4 py-2"
                />
              </div>
              <div class="flex flex-col space-y-2">
                <label for="message" class="text-gray-800 font-poppins text-lg">
                  Message
                </label>
                <textarea
                  name="message"
                  id="message"
                  class="border border-gray-300 rounded-md px-4 py-2"
                ></textarea>
              </div>
              <button
                type="submit"
                class="bg-gray-800 text-white font-poppins font-bold text-lg rounded-md px-4 py-2"
              >
                Send
              </button>
          </div>
          </form>
        </section>
      </div>
    </main>
    <footer class="bg-white py-16 shadow-xl border-t border-slate-200">
      <section class="max-w-7xl mx-auto grid grid-cols-2">
        <a href="index.html">
          <div class="max-w-[260px] max-h-12">
            <img
              class="w-full h-full"
              src="assets/images/ninjaSphere-logo-dark.jpg"
              alt="ninjaSphere logo"
            />
          </div>
        </a>
        <section class="flex gap-x-16">
          <div>
            <h3 class="text-gray-800 font-poppins text-xl mb-2">Engineering</h3>
            <ul class="text-gray-700 font-sans">
              <li><a href='' class="text-sm underline decoration-gray-600">Web development</a></li>
              <li><a href='' class="text-sm underline decoration-gray-600">Mobile Development</a></li>
              <li><a href='' class="text-sm underline decoration-gray-600">Cloud & DevOps</a></li>
            </ul>
          </div>
          <div>
            <h3 class="text-gray-800 font-poppins text-xl mb-2">Contact</h3>
            <ul class="text-gray-700 font-sans">
              <li class="text-sm"><span class="font-medium">Phone</span>: 123-456-7890</li>
              <li class="text-sm"><span class="font-medium">Email</span>: commodoviverra@gmail.com
            </ul>
          </div>
        </section>
      </section>
    </footer>
  </body>
</html>
