<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend:wght@600;700;900&family=Poppins:wght@500;600&family=Source+Sans+Pro:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../static/websitecore/css/case-study.css">
    <title>NinjaSphere - Case Study</title>
</head>

<body>
    <main>
        <section class="small-hero-container">
            <header>
                <h1 class="small-hero-container-title">Case Studies</h1>
                <p class="small-hero-container-text"> Awesome Work - Awesome Results - Read Our Success </p>
            </header>
        </section>
        <section class="case-study-container">
            <div class="container">
                <article class="case-study-item">
                    <section>
                        <div class="case-study-content">
                            <div class="case-study-content-img">
                                <img alt=''
                                    src='../../static/websitecore/img/case-study-images/laptopt&lamb-on-table.jpg'>
                            </div>
                            <div class="case-study-content-description">
                                <h1 class="title">Case 1</h1>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                                    idmassa integer quis
                                    placerat hendrerit in mattis auctor. Cursus sed facilisi tortor quis eget. Enim,
                                    placerat nec, dolor tristique
                                    ut. Dolor vel varius sed mus dignissim purus sed. Et, blandit risus amet, magna non
                                    eleifend vitaescelerisque.
                                    Penatibusfaucibus montes, lectus ornare feugiat dolor est in sit.
                                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa
                                    dictumamet
                                    non quisnibhpellentesque
                                    nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor
                                    sitametconsecteturadipisicing elit. Deleniti,
                                    quibusdam reprehenderit! Voluptatibus delectus sintinventore reiciendisa ipsum
                                    soluta
                                    distinctio at nobis.
                                    Cupiditate perferendis voluptates voluptatum accusamusaspernaturveritatis. In.
                                </p>
                                <ul class="description-tech-logos">
                                    <li class="">
                                        <p class="tech-name">HTML</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/html-1.svg'
                                                alt="HTML logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">CSS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/css-3.svg'
                                                alt="CSS logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">JavaScript</p>
                                        <div class="tech-logo">
                                            <img class=""
                                                src='../../static/websitecore/img/tech-logos/javascript-logo.svg'
                                                alt="JavaScript logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Typescript</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/typescript-2.svg'
                                                alt="Typescript logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">ReactJS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/React logo.svg'
                                                alt="React logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">NextJS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/Nextjs-logo.svg'
                                                alt="Next.js logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Jest</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/Jest Logo.svg'
                                                alt="JEST logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">TailwindCSS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/tailwindcss.svg'
                                                alt="TailwindCSS logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Firebase</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/firebase-1.svg'
                                                alt="Firebase logo" />
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn-viewcase" href="#">Explore</a>
                            </div>
                        </div>
                    </section>
                </article>
                <article class="case-study-item">
                    <section>
                        <div class="case-study-content">
                            <div class="case-study-content-img">
                                <img alt=''
                                    src='../../static/websitecore/img/case-study-images/laptopt&lamb-on-table.jpg'>
                            </div>
                            <div class="case-study-content-description">
                                <h1 class="title">Case 1</h1>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                                    idmassa integer quis
                                    placerat hendrerit in mattis auctor. Cursus sed facilisi tortor quis eget. Enim,
                                    placerat nec, dolor tristique
                                    ut. Dolor vel varius sed mus dignissim purus sed. Et, blandit risus amet, magna non
                                    eleifend vitaescelerisque.
                                    Penatibusfaucibus montes, lectus ornare feugiat dolor est in sit.
                                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa
                                    dictumamet
                                    non quisnibhpellentesque
                                    nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor
                                    sitametconsecteturadipisicing elit. Deleniti,
                                    quibusdam reprehenderit! Voluptatibus delectus sintinventore reiciendisa ipsum
                                    soluta
                                    distinctio at nobis.
                                    Cupiditate perferendis voluptates voluptatum accusamusaspernaturveritatis. In.
                                </p>
                                <ul class="description-tech-logos">
                                    <li class="">
                                        <p class="tech-name">HTML</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/html-1.svg'
                                                alt="HTML logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">CSS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/css-3.svg'
                                                alt="CSS logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">JavaScript</p>
                                        <div class="tech-logo">
                                            <img class=""
                                                src='../../static/websitecore/img/tech-logos/javascript-logo.svg'
                                                alt="JavaScript logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Typescript</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/typescript-2.svg'
                                                alt="Typescript logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">ReactJS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/React logo.svg'
                                                alt="React logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">NextJS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/Nextjs-logo.svg'
                                                alt="Next.js logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Jest</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/Jest Logo.svg'
                                                alt="JEST logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">TailwindCSS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/tailwindcss.svg'
                                                alt="TailwindCSS logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Firebase</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/firebase-1.svg'
                                                alt="Firebase logo" />
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn-viewcase" href="#">Explore</a>
                            </div>
                        </div>
                    </section>
                </article>
                <article class="case-study-item">
                    <section>
                        <div class="case-study-content">
                            <div class="case-study-content-img">
                                <img alt=''
                                    src='../../static/websitecore/img/case-study-images/laptopt&lamb-on-table.jpg'>
                            </div>
                            <div class="case-study-content-description">
                                <h1 class="title">Case 1</h1>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                                    idmassa integer quis
                                    placerat hendrerit in mattis auctor. Cursus sed facilisi tortor quis eget. Enim,
                                    placerat nec, dolor tristique
                                    ut. Dolor vel varius sed mus dignissim purus sed. Et, blandit risus amet, magna non
                                    eleifend vitaescelerisque.
                                    Penatibusfaucibus montes, lectus ornare feugiat dolor est in sit.
                                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa
                                    dictumamet
                                    non quisnibhpellentesque
                                    nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor
                                    sitametconsecteturadipisicing elit. Deleniti,
                                    quibusdam reprehenderit! Voluptatibus delectus sintinventore reiciendisa ipsum
                                    soluta
                                    distinctio at nobis.
                                    Cupiditate perferendis voluptates voluptatum accusamusaspernaturveritatis. In.
                                </p>
                                <ul class="description-tech-logos">
                                    <li class="">
                                        <p class="tech-name">HTML</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/html-1.svg'
                                                alt="HTML logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">CSS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/css-3.svg'
                                                alt="CSS logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">JavaScript</p>
                                        <div class="tech-logo">
                                            <img class=""
                                                src='../../static/websitecore/img/tech-logos/javascript-logo.svg'
                                                alt="JavaScript logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Typescript</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/typescript-2.svg'
                                                alt="Typescript logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">ReactJS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/React logo.svg'
                                                alt="React logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">NextJS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/Nextjs-logo.svg'
                                                alt="Next.js logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Jest</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/Jest Logo.svg'
                                                alt="JEST logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">TailwindCSS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/tailwindcss.svg'
                                                alt="TailwindCSS logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Firebase</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/firebase-1.svg'
                                                alt="Firebase logo" />
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn-viewcase" href="#">Explore</a>
                            </div>
                        </div>
                    </section>
                </article>
                <article class="case-study-item">
                    <section>
                        <div class="case-study-content">
                            <div class="case-study-content-img">
                                <img alt=''
                                    src='../../static/websitecore/img/case-study-images/laptopt&lamb-on-table.jpg'>
                            </div>
                            <div class="case-study-content-description">
                                <h1 class="title">Case 1</h1>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                                    idmassa integer quis
                                    placerat hendrerit in mattis auctor. Cursus sed facilisi tortor quis eget. Enim,
                                    placerat nec, dolor tristique
                                    ut. Dolor vel varius sed mus dignissim purus sed. Et, blandit risus amet, magna non
                                    eleifend vitaescelerisque.
                                    Penatibusfaucibus montes, lectus ornare feugiat dolor est in sit.
                                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa
                                    dictumamet
                                    non quisnibhpellentesque
                                    nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor
                                    sitametconsecteturadipisicing elit. Deleniti,
                                    quibusdam reprehenderit! Voluptatibus delectus sintinventore reiciendisa ipsum
                                    soluta
                                    distinctio at nobis.
                                    Cupiditate perferendis voluptates voluptatum accusamusaspernaturveritatis. In.
                                </p>
                                <ul class="description-tech-logos">
                                    <li class="">
                                        <p class="tech-name">HTML</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/html-1.svg'
                                                alt="HTML logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">CSS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/css-3.svg'
                                                alt="CSS logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">JavaScript</p>
                                        <div class="tech-logo">
                                            <img class=""
                                                src='../../static/websitecore/img/tech-logos/javascript-logo.svg'
                                                alt="JavaScript logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Typescript</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/typescript-2.svg'
                                                alt="Typescript logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">ReactJS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/React logo.svg'
                                                alt="React logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">NextJS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/Nextjs-logo.svg'
                                                alt="Next.js logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Jest</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/Jest Logo.svg'
                                                alt="JEST logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">TailwindCSS</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/tailwindcss.svg'
                                                alt="TailwindCSS logo" />
                                        </div>
                                    </li>
                                    <li class="">
                                        <p class="tech-name">Firebase</p>
                                        <div class="tech-logo">
                                            <img class="" src='../../static/websitecore/img/tech-logos/firebase-1.svg'
                                                alt="Firebase logo" />
                                        </div>
                                    </li>
                                </ul>
                                <a class="btn-viewcase" href="#">Explore</a>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </section>

        <section class="bloc-contact-et-formulaire">
            <div class="container">
                <div class="form-container">
                    <div class="form-description">
                        <hgroup>
                            <h2 class="form-description-title">Contact the team today for advice on your
                                digital marketing campaign</h2>
                            <h3 class="form-description-subtitle">If you are looking to increase your traffic,
                                sales & leads, let's have a
                                chat!</h3>
                        </hgroup>
                        <address class="form-description-address">
                            <div class="form-description-img">
                                <img src="../../static/websitecore/img/case-study-images/john-doe.jpg"
                                    alt="mon image 30*30">
                            </div>
                            <section class="phone-numb-container">
                                <h1 class="form-description-subtitle">Call or send a message </h1>
                                <p class="form-description-tel">+237673488887</p>
                            </section>
                        </address>
                    </div>
                    <div class="formulaire">
                        <hgroup>
                            <h1 class="form-title">Send us a message</h1>
                            <h2 class="form-subtitle">The team will usually respond within 1 hour.</h2>
                        </hgroup>
                        <form>
                            <fieldset>
                                <p class="form-input-grp">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" placeholder="Your name">
                                </p>
                                <p class="form-input-grp">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" placeholder="Your email">
                                </p>
                                <p class="form-input-grp">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" placeholder="Your message"></textarea>
                                </p>

                            </fieldset>
                            <button class="submit-form-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>

</html>