<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/websitecore/css/case-study.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>NinjaSphere - Case Study</title>
</head>

<body>
    <main>
        <section class="small-hero-container">
            <header>
                <h1 class="small-hero-container-title">Case Studies</h1>
                <p class="small-hero-container-text"> Awesome Work - Awesome Results - Read Our Success </p>
            </header>
        </section>
        <section class="case-study-container">
            <div class="container">
                <article class="case-study-item">
                    <section>
                        <div class="case-study-content">
                            <div class="case-study-content-img">
                                <img alt=''
                                    src='../../static/websitecore/img/case-study-images/laptopt&lamb-on-table.jpg'>
                            </div>
                            <div class="case-study-content-description">
                                <h1 class="title">Case 1</h1>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                                    idmassa integer quis
                                    placerat hendrerit in mattis auctor. Cursus sed facilisi tortor quis eget. Enim,
                                    placerat nec, dolor tristique
                                    ut. Dolor vel varius sed mus dignissim purus sed. Et, blandit risus amet, magna non
                                    eleifend vitaescelerisque.
                                    Penatibusfaucibus montes, lectus ornare feugiat dolor est in sit.
                                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa
                                    dictumamet
                                    non quisnibhpellentesque
                                    nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor
                                    sitametconsecteturadipisicing elit. Deleniti,
                                    quibusdam reprehenderit! Voluptatibus delectus sintinventore reiciendisa ipsum
                                    soluta
                                    distinctio at nobis.
                                    Cupiditate perferendis voluptates voluptatum accusamusaspernaturveritatis. In.
                                </p>
                                <a class="btn-viewcase" href="#">View Case Study</a>
                            </div>
                        </div>
                    </section>
                </article>
                <article class="case-study-item">
                    <section>
                        <div class="case-study-content">
                            <div class="case-study-content-img">
                                <img alt=''
                                    src='../../static/websitecore/img/case-study-images/laptopt&lamb-on-table.jpg'>
                            </div>
                            <div class="case-study-content-description">
                                <h1 class="title">Case 1</h1>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                                    idmassa integer quis
                                    placerat hendrerit in mattis auctor. Cursus sed facilisi tortor quis eget. Enim,
                                    placerat nec, dolor tristique
                                    ut. Dolor vel varius sed mus dignissim purus sed. Et, blandit risus amet, magna non
                                    eleifend vitaescelerisque.
                                    Penatibusfaucibus montes, lectus ornare feugiat dolor est in sit.
                                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa
                                    dictumamet
                                    non quisnibhpellentesque
                                    nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor
                                    sitametconsecteturadipisicing elit. Deleniti,
                                    quibusdam reprehenderit! Voluptatibus delectus sintinventore reiciendisa ipsum
                                    soluta
                                    distinctio at nobis.
                                    Cupiditate perferendis voluptates voluptatum accusamusaspernaturveritatis. In.
                                </p>
                                <a class="btn-viewcase" href="#">View Case Study</a>
                            </div>
                        </div>
                    </section>
                </article>
                <article class="case-study-item">
                    <section>
                        <div class="case-study-content">
                            <div class="case-study-content-img">
                                <img alt=''
                                    src='../../static/websitecore/img/case-study-images/laptopt&lamb-on-table.jpg'>
                            </div>
                            <div class="case-study-content-description">
                                <h1 class="title">Case 1</h1>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                                    idmassa integer quis
                                    placerat hendrerit in mattis auctor. Cursus sed facilisi tortor quis eget. Enim,
                                    placerat nec, dolor tristique
                                    ut. Dolor vel varius sed mus dignissim purus sed. Et, blandit risus amet, magna non
                                    eleifend vitaescelerisque.
                                    Penatibusfaucibus montes, lectus ornare feugiat dolor est in sit.
                                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa
                                    dictumamet
                                    non quisnibhpellentesque
                                    nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor
                                    sitametconsecteturadipisicing elit. Deleniti,
                                    quibusdam reprehenderit! Voluptatibus delectus sintinventore reiciendisa ipsum
                                    soluta
                                    distinctio at nobis.
                                    Cupiditate perferendis voluptates voluptatum accusamusaspernaturveritatis. In.
                                </p>
                                <a class="btn-viewcase" href="#">View Case Study</a>
                            </div>
                        </div>
                    </section>
                </article>
                <article class="case-study-item">
                    <section>
                        <div class="case-study-content">
                            <div class="case-study-content-img">
                                <img alt=''
                                    src='../../static/websitecore/img/case-study-images/laptopt&lamb-on-table.jpg'>
                            </div>
                            <div class="case-study-content-description">
                                <h1 class="title">Case 1</h1>
                                <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
                                    idmassa integer quis
                                    placerat hendrerit in mattis auctor. Cursus sed facilisi tortor quis eget. Enim,
                                    placerat nec, dolor tristique
                                    ut. Dolor vel varius sed mus dignissim purus sed. Et, blandit risus amet, magna non
                                    eleifend vitaescelerisque.
                                    Penatibusfaucibus montes, lectus ornare feugiat dolor est in sit.
                                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa
                                    dictumamet
                                    non quisnibhpellentesque
                                    nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor
                                    sitametconsecteturadipisicing elit. Deleniti,
                                    quibusdam reprehenderit! Voluptatibus delectus sintinventore reiciendisa ipsum
                                    soluta
                                    distinctio at nobis.
                                    Cupiditate perferendis voluptates voluptatum accusamusaspernaturveritatis. In.
                                </p>
                                <a class="btn-viewcase" href="#">View Case Study</a>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </section>

        <!--
        <section class="bloc-contact-et-formulaire">
            <div class="simplecontact">
                <p class="firstp">Contact the team today for advice on your digital marketing campaign</p>
                <p class="secondp">If you are looking to increase your traffic, sales & leads, let's have a chat!
                </p>
                <div class="call">
                    <img class="mon-image" src="../../static/websitecore/img/case-study-images/grave.jpg"
                        alt="mon image 30*30">
                    <div>
                        <p class="simplecontact-sms">Call or send a message <br><span class="tel">+237673488887</span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="formulaire">

                <p class="titre-formulaire">Send us a message</p>

                <p class="pform2">The team will usually respond within 1 hour.</p> <br>
                <label for="name" aria-placeholder="yvan">Name</label>
                <input class="name" type="text "> <br>
                <br>
                <label for="Email">Email Adress</label>
                <input class="email" type="text"> <br>
                <br>
                <label for="phone">phone</label>
                <input class="num" type="number" name="phone" id=""> <br>
                <br>
                <label for="Message">Message</label>
                <input class="sms" type="Message" name="" id="aria-placeholder"> <br>
                <br>
                <input class="bouton" type="Submit" value="Submit">
            </div>
        </section>
        -->
    </main>
</body>

</html>