<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/websitecore/css/case-study.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>NinjaSphere</title>
</head>

<body>
    <main>
        <!-- <picture 
            <source media="(100px)" srcset="">
            <img src="/ninjashpere/website/websitecore/static/websitecore/img/case-study-images/dev2.jpeg" alt="">
        </picture> -->

        <div class="navbar">

            <nav>
                <ul>
                    <div class="logo"> <img src="../../static/websitecore/img/case-study-images/logo.png" alt="Ninja">
                    </div>
                    <li><a href="">PRESENTATION</a></li>
                    <li><a href="">SERVICES</a></li>
                    <li><a href="">CASE STUDY</a></li>
                    <li><a href="">KNOWLEDGE</a></li>
                    <li><a href="">TALENT</a></li>
                    <img class="search-bar-icon"
                        src="../../static/websitecore/img/case-study-images/search-bar-icon-svg.png"
                        alt="search-bar-icon-svg">
                    <li><a class="contact-btn" href="">Get in touch</a></li>
                </ul>

            </nav>
        </div>
        </div>
        <div class="head">
            <h1>
                <p class="titre-principal">Case Studies</p>


            </h1>
            <h3>
                <p class="case-study-devise"> Awesome Work - Awesome Results - Read Our Success </p>
            </h3>

        </div>

        <!-- <section> class="all-cases"> -->
            <h3 class="title">Case 1</h3>
            <div class="case-study-img-plus-description">
                <img class="case-study-img" src="../../static/websitecore/img/case-study-images/fotis.png"
                    alt="desk-two-screens">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et id massa integer quis
                    placerat
                    hendrerit in
                    mattis auctor. Cursus sed facilisi tortor quis eget. Enim, placerat nec, dolor tristique ut. Dolor
                    vel
                    varius sed mus dignissim purus sed. Et, blandit risus amet, magna non eleifend vitae scelerisque.
                    Penatibus
                    faucibus montes, lectus ornare feugiat dolor est in sit.
                    Et egestas faucibus tristique nisi arcu urna viverra lorem. Suspendisse massa dictum amet non quis
                    nibh
                    pellentesque nec magna. Non ante in euismod etiam. Vivamus augue. Lorem ipsum dolor sit amet
                    consectetur
                    adipisicing elit. Deleniti, quibusdam reprehenderit! Voluptatibus delectus sint inventore reiciendis
                    a
                    ipsum soluta distinctio at nobis. Cupiditate perferendis voluptates voluptatum accusamus aspernatur
                    veritatis. In.

                    <br> <br>
                    <a class="btn-viewcase" href="#">View Case Study</a>
                </p>

            </div>
            <h3 class="title">Case 2</h3>
            <div class="case-study-img-plus-description">
                <img class="case-study-img" src="../../static/websitecore/img/case-study-images/olaf.png"
                    alt="laptop+phone">
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget blandit vel nulla turpis rutrum id
                    sit.
                    Nunc
                    ipsum penatibus euismod felis diam mollis. Morbi vulputate sed eu nibh. Felis ac amet aliquam in.
                    Cursus
                    felis ut non ipsum viverra proin ipsum rhoncus arcu. Sed sollicitudin viverra dignissim quis viverra
                    sapien.
                    hendrerit non enim, sed consectetur feugiat magna urna nunc. Viverra praesent nunc, in sem.
                    Ultricies amet consequat proin at rhoncus egestas tincidunt odio. Nibh mattis at tempus facilisi in
                    amet
                    tortor. Blandit blandit proin. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Deleniti, quibusdam reprehenderit! Voluptatibus delectus sint inventore reiciendis
                    a
                    ipsum soluta distinctio at nobis. Cupiditate perferendis voluptates voluptatum accusamus aspernatur
                    veritatis. In.
                    <br> <br>


                    <a class="btn-viewcase" href="#">View Case Study</a>
                </p>

            </div>
            <h3 class="title">Case 3</h3>
            <div class="case-study-img-plus-description">
                <img class="case-study-img" src="../../static/websitecore/img/case-study-images/joshua.png"
                    alt="laptop-shoe-phone">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada quam
                    pellentesque ac,
                    feugiat
                    maecenas
                    massa. Dolor gravida pellentesque lorem volutpat in quam felis, sed. Sed varius suspendisse semper
                    elementum
                    et. Quam viverra adipiscing viverra sed tellus. Amet lobortis semper semper at eget. Commodo tempor,
                    facilisi quisque est velit auctor. Aliquam scelerisque lorem ipsum sit sed auctor. Habitant gravida
                    posuere
                    tristique urna mi velit eget. Facilisi aliquam eleifend adipiscing et. Nibh commodo mattis consequat
                    Massa commodo nullam rutrum diam ultrices. Nunc congue fames. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Deleniti, quibusdam reprehenderit! Voluptatibus delectus sint inventore reiciendis
                    a
                    ipsum soluta distinctio at nobis. Cupiditate perferendis voluptates voluptatum accusamus aspernatur
                    veritatis. In.

                    <br> <br>
                    <a class="btn-viewcase" href="">View Case Study</a>
                </p>

            </div>
            <h3 class="title">Case 4</h3>
            <div class="case-study-img-plus-description">
                <img class="case-study-img" src="../../static/websitecore/img/case-study-images/john.png"
                    alt="feet-laptop">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis lorem eu dapibus
                    sodales
                    aliquam. Mi hac
                    sagittis orci id accumsan at. Vitae elementum viverra pellentesque risus erat tortor massa congue.
                    Nunc
                    scelerisque varius eu volutpat est praesent in. Augue eget in ante gravida nunc netus lorem
                    suspendisse
                    aliquam. Commodo eros, dui molestie at amet, eu fames vel arcu. Aliquam felis tellus, ultrices
                    tortor
                    mauris. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam laboriosam excepturi
                    aspernatur
                    quaerat aliquid id animi. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Deleniti, quibusdam reprehenderit! Voluptatibus delectus sint inventore reiciendis
                    a
                    ipsum soluta distinctio at nobis. Cupiditate perferendis voluptates voluptatum accusamus aspernatur
                    veritatis. In.
                    <br>
                    <br>
                    <a class="btn-viewcase" href="">View Case Study</a>

                </p>
            </div>
        </section>
        <section class="bloc-contact-et-formulaire">
            <div class="simplecontact">
                <p class="firstp">Contact the team today for advice on your digital marketing campaign</p>
                <p class="secondp">If you are looking to increase your traffic, sales & leads, let's have a chat!
                </p>
                <div class="call">
                    <img class="mon-image" src="../../static/websitecore/img/case-study-images/grave.jpg"
                        alt="mon image 30*30">
                    <div>
                        <p class="simplecontact-sms">Call or send a message <br><span class="tel">+237673488887</span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="formulaire">

                <p class="titre-formulaire">Send us a message</p>

                <p class="pform2">The team will usually respond within 1 hour.</p> <br>
                <label for="name" aria-placeholder="yvan">Name</label>
                <input class="name" type="text "> <br>
                <br>
                <label for="Email">Email Adress</label>
                <input class="email" type="text"> <br>
                <br>
                <label for="phone">phone</label>
                <input class="num" type="number" name="phone" id=""> <br>
                <br>
                <label for="Message">Message</label>
                <input class="sms" type="Message" name="" id="aria-placeholder"> <br>
                <br>
                <input class="bouton" type="Submit" value="Submit">
            </div>
        </section>

        <section class="navbarend">
            <div class="menu">
                <ul>
                    <li><a href="#">PRESENTATION</a> </li>
                    <li><a href="#">SERVICES</a> </li>
                    <li><a href="#">CASE STUDY</a> </li>
                    <li><a href="#">KNOWLEDGE</a> </li>
                    <li><a href="#">TALENT</a> </li>
                </ul>
            </div>
            <div class="foot">
                <div class="contain">
                    <p>Web development</p>
                    <p>Mobile development</p>
                    <p>Cloud&Devops</p>
                    <p>Quality Assurance</p>
                </div>
                <div class="blog">
                    <p>Blog</p>
                    <p>SEO</p>
                    <p>Content Writing</p>
                </div>

                <div class="infos-localisation">
                    <h3>Yaoundé</h3>
                    <img src="../../static/websitecore/img/case-study-images/local.png" alt="icon-localisation"><span
                        class="span">Rond
                        point
                        Express Biyem Assi </span> <br>
                    <img src="../../static/websitecore/img/case-study-images/call.png" alt="call-icon"><span
                        class="numero">+237
                        000 000 000</span> <br>
                    <img src="../../static/websitecore/img/case-study-images/@.png" alt="@"><span
                        class="span">info@ninjasphere.cm</span>
                    <p>FOLLOW US</p>
                    <img src="../../static/websitecore/img/case-study-images/uy.png" alt="">

                </div>
            </div>
            <img class="logow" src="../../static/websitecore/img/case-study-images/logo white 1.png" alt="Ninja">
            <p class="copyright"> Ninjasphere © 2022. All rights reserved</p>
        </section>
    </main>
    <footer></footer>
</body>

</html>