{% extends 'base.html' %}
{% load static %}

{% block title %}
    NinjaSphere - Knowledge Hub
{% endblock %}

{% block head %}
    <link rel="stylesheet" href={% static 'websitecore/css/knowledge.css' %} >
{% endblock %}
   
{% block content %}
    <section>
        <article>
            <div class="section-img">
                <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %} alt="img">
            </div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post</button>
            </div>
        </article>
    </section>
    <div class="to-other-content">
        <button id="butt">All</button>
        <button id="butt">content</button>
        <button id="butt">Content marketing</button>
        <button id="butt">Keywords</button>
        <button id="butt">Link buildings</button>
        <button id="butt">Marketing</button>
        <button id="butt">PPC</button>
        <button id="butt">SEO</button>
        <button id="butt">Social Marketing</button>
    </div>
    <article>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>
        <section>
            <div class="section-img"> <img src={% static 'websitecore/img/construction-site-3d-illustration-260nw-617032220.webp' %}
                    alt="img"></div>
            <div class="section-content">
                <h2>Writing for Search Intent</h2>
                <h6>28/09/2022</h6>
                <p>If you want your website to rank higher on search engine results pages, you need to know how to
                    maximise
                    your search engine optimisation strategy (SEO) and write for search…</p>
                <button id="butt">View post -></button>
            </div>
        </section>

    </article>
    <div class="content-controler">
        <button id="butt">1</button>
        <button id="butt">2</button>
        <button id="butt">3</button>
        <button id="butt">4</button>
        <button id="butt">...</button>
        <button id="butt">32</button>
        <button id="butt">></button>
    </div>
{% endblock %}