{% extends 'base.html' %}
{% load static %}

{% block title %}
    Still in construction
{% endblock %}

{% block head %}
    <link rel="stylesheet" href={% static 'websitecore/css/talent.css' %}>
    <link rel="stylesheet" href={% static 'websitecore/css/landing_page.css' %} >
{% endblock %}

{% block content %}
<div class="talent-content">
    <img alt="picture" src={% static 'websitecore/img/ingenierie-plate-construction-illustree_23-2148892788.webp' %}/>
    <p>
        Our web side will be available in less than no time to be said with out standing content.
    </p>
</div>

{% endblock %}
