{% extends "base.html" %}
{% load static %}

{% block title %}
    NinjaSphere Web Development Services
{% endblock %}

{% block head %}
    <link rel="stylesheet" href={% static 'websitecore/css/output-style.css' %}/>
{% endblock %}

{% block content %}
    <div class="bg-slate-100">
        <section class="flex justify-between h-screen p-10 max-w-7xl mx-auto">
            <div class="max-w-3xl space-y-6 self-center">
                <h1 class="text-8xl font-display text-gray-900 font-bold">
                    Web Development Services
                </h1>
                <p class="font-sans text-base max-w-xl text-gray-700">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Maecenas
                    ultricies mi eget mauris pharetra. Ornare suspendisse sed nisi lacus
                    sed viverra tellus. Quam adipiscing vitae proin sagittis. Vitae
                    ultricies leo integer malesuada nunc vel risus commodo viverra. Diam
                    volutpat commodo sed egestas egestas.
                </p>
            </div>
            <div class="mt-36 maw-w-[200px]">
                <img alt="random image" src={% static 'websitecore/img/web_development.svg' %}/>
            </div>

            <!-- SVG enters here -->
        </section>
        <section class="bg-slate-50 shadow-inner">
            <!-- <div class="bg-slate-100">
              <div class="bg-topWaveSlice h-10 w-full text-slate-50"></div>
            </div> -->
            <div class="max-w-7xl mx-auto py-12">
                <ul class="font-poppins flex gap-4 text-gray-800 capitalize">
                    <li>
                        <a
                                href="#ui/ux-design"
                                class="hover:text-primary hover:opacity-100 focus:opacity-100 opacity-50"
                        >UI/UX Design</a
                        >
                    </li>
                    <li>
                        <a
                                href="#front-end-development"
                                class="hover:text-primary hover:opacity-100 focus:opacity-100 opacity-50"
                        >Front end development</a
                        >
                    </li>
                    <li>
                        <a
                                href="#back-end-development"
                                class="hover:text-primary hover:opacity-100 focus:opacity-100 opacity-50"
                        >Back end development</a
                        >
                    </li>
                </ul>
            </div>
            <!-- <div class="bg-slate-100">
              <div class="bg-bottomWaveSlice h-16 w-full text-slate-50"></div>
            </div> -->
        </section>
        <section class="max-w-7xl mx-auto pt-8" id="ui/ux-design">
            <div class="flex py-10">
                <div class="basis-2/4 h-full">
                    <h2 class="text-3xl text-gray-800 font-display mb-10">
                        UI/UX Design
                    </h2>
                    <p class="text-gray-700 font-sans max-w-lg">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Maecenas ultricies mi eget mauris pharetra. Ornare suspendisse sed
                        nisi lacus sed viverra tellus. Quam adipiscing vitae proin
                        sagittis. Vitae ultricies leo integer malesuada nunc vel risus
                        commodo viverra. Diam volutpat commodo sed egestas egestas.
                    </p>
                </div>
                <section class="basis-2/4 space-y-8">
                    <div class="flex flex-col space-y-3">
                        <h3 class="text-xl font-poppins text-gray-900">Deliverables</h3>
                        <ul class="text-gray-700 font-sans list-disc pl-4">
                            <li>Wireframes</li>
                            <li>Mockups</li>
                            <li>Prototypes</li>
                        </ul>
                    </div>
                    <div class="flex flex-col space-y-3">
                        <h3 class="text-xl font-poppins text-gray-900">Tools</h3>
                        <ul class="font-sans text-gray-700 flex flex-col list-disc pl-4">
                            <li>Adobe XD</li>
                            <li>Figma</li>
                            <li>Sketch</li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        <section class="bg-slate-50 shadow-inner" id="front-end-development">
            <div class="max-w-7xl mx-auto flex py-16">
                <div class="basis-2/4 h-full">
                    <h2 class="text-3xl text-gray-800 font-display mb-10 capitalize">
                        Front end development
                    </h2>
                    <p class="text-gray-700 font-sans max-w-lg">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Maecenas ultricies mi eget mauris pharetra. Ornare suspendisse sed
                        nisi lacus sed viverra tellus. Quam adipiscing vitae proin
                        sagittis. Vitae ultricies leo integer malesuada nunc vel risus
                        commodo viverra. Diam volutpat commodo sed egestas egestas.
                    </p>
                </div>
                <section class="basis-2/4 space-y-8">
                    <div class="flex flex-col space-y-3">
                        <h3 class="text-xl font-poppins text-gray-900">Deliverables</h3>
                        <ul class="text-gray-700 font-sans list-disc pl-4">
                            <li>Responsive web pages</li>
                            <li>Single page applications</li>
                            <li>Progressive web apps</li>
                        </ul>
                    </div>
                    <div class="flex flex-col space-y-3">
                        <h3 class="text-xl font-poppins text-gray-900">
                            Tools
                        </h3>
                        <ul
                                class="font-sans text-gray-700 grid grid-cols-3 grid-rows-2 gap-y-1 list-disc pl-4 max-w-xs"
                        >
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>React</li>
                            <li>Vue</li>
                            <li>Angular</li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        <section class="pt-8 shadow-md shadow-primary" id="back-end-development">
            <div class="flex py-10 max-w-7xl mx-auto">
                <div class="basis-2/4 h-full">
                    <h2 class="text-3xl text-gray-800 font-display mb-10 capitalize">
                        Back end development
                    </h2>
                    <p class="text-gray-700 font-sans max-w-lg">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Maecenas ultricies mi eget mauris pharetra. Ornare suspendisse sed
                        nisi lacus sed viverra tellus. Quam adipiscing vitae proin
                        sagittis. Vitae ultricies leo integer malesuada nunc vel risus
                        commodo viverra. Diam volutpat commodo sed egestas egestas.
                    </p>
                </div>
                <section class="basis-2/4 space-y-8">
                    <div class="flex flex-col space-y-3">
                        <h3 class="text-xl font-poppins text-gray-900">Deliverables</h3>
                        <ul class="text-gray-700 font-sans list-disc pl-4">
                            <li>REST APIs</li>
                            <li>GraphQL APIs</li>
                            <li>Serverless functions</li>
                        </ul>
                    </div>
                    <div class="flex flex-col space-y-3">
                        <h3 class="text-xl font-poppins text-gray-900">Tools</h3>
                        <ul
                                class="font-sans text-gray-700 grid grid-cols-3 grid-rows-2 gap-y-1 list-disc pl-4 max-w-xs"
                        >
                            <li>Node.js</li>
                            <li>Express</li>
                            <li>Python</li>
                            <li>Flask</li>
                            <li>Go</li>
                            <li>Java</li>
                            <li>Spring</li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        <div class="bg-slate-50 py-20 shadow-inner">
            <section class="max-w-7xl mx-auto">
                <div class="max-w-2xl">
                    <h2 class="text-3xl text-gray-800 font-display mb-10 capitalize">
                        Contact
                    </h2>
                    <form class="flex flex-col space-y-8">
                        <div class="flex flex-col space-y-2">
                            <label for="name" class="text-gray-800 font-poppins text-lg">
                                Name
                            </label>
                            <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    class="border border-gray-300 rounded-md px-4 py-2"
                            />
                        </div>
                        <div class="flex flex-col space-y-2">
                            <label for="email" class="text-gray-800 font-poppins text-lg">
                                Email
                            </label>
                            <input
                                    type="email"
                                    name="email"
                                    id="email"
                                    class="border border-gray-300 rounded-md px-4 py-2"
                            />
                        </div>
                        <div class="flex flex-col space-y-2">
                            <label for="message" class="text-gray-800 font-poppins text-lg">
                                Message
                            </label>
                            <textarea
                                    name="message"
                                    id="message"
                                    class="border border-gray-300 rounded-md px-4 py-2"
                            ></textarea>
                        </div>
                        <button
                                type="submit"
                                class="bg-primary text-white font-poppins font-bold text-lg rounded-md px-4 py-2"
                        >
                            Send
                        </button>
                    </form>
                </div>
            </section>
        </div>
    </div>

{% endblock %}
